<div>
  {{input
    value=value
    type="radio"
    name="project-filter"
    change=(action 'handleFilterEntry' '')
  }}
  <span>All</span>
</div>
<div>
  {{input
    value=value
    type="radio"
    name="project-filter"
    change=(action 'handleFilterEntry' 'film')
  }}
  <span>Film</span>
</div>
<div>
  {{input
    value=value
    type="radio"
    name="project-filter"
    change=(action 'handleFilterEntry' 'animation')
  }}
  <span>Animation</span>
</div>
<div>
  {{input
    value=value
    type="radio"
    name="project-filter"
    change=(action 'handleFilterEntry' 'motion graphics')
  }}
  <span>Motion Graphics</span>
</div>


{{yield results}}
