<div>
  <input
    value=''
    checked=true
    classNames="filter__check--all"
    type="radio"
    name="project-filter"
    onclick={{action 'handleFilterEntry' ''}}
  />
  <span>All</span>
</div>
<div>
  {{input
    value='film'
    classNames="filter__check--film"
    type="radio"
    name="project-filter"
    change=(action 'handleFilterEntry' 'film')
  }}
  <span>Film</span>
</div>
<div>
  {{input
    value='animation'
    classNames="filter__check--animation"
    type="radio"
    name="project-filter"
    change=(action 'handleFilterEntry' 'animation')
  }}
  <span>Animation</span>
</div>
<div>
  {{input
    value='motion graphics'
    classNames="filter__check--motion-graphics"
    type="radio"
    name="project-filter"
    change=(action 'handleFilterEntry' 'motion graphics')
  }}
  <span>Motion Graphics</span>
</div>


{{yield results}}
