<nav class="{{if menuOpen 'navbar menuOpen' 'navbar'}}">
  <span {{action 'toggleMenu' false}}>
    {{#link-to "index" class="navbar__link logo"}}
    {{/link-to}}
  </span>

  {{#if menuOpen}}
      <span {{action 'toggleMenu' false}}>
        {{#link-to "work" class="navbar__link"}}Work{{/link-to}}
      </span>
      <span {{action 'toggleMenu' false}}>
        {{#link-to "about" class="navbar__link"}}About{{/link-to}}
      </span>
      <span {{action 'toggleMenu' false}}>
        {{#link-to "contact" class="navbar__link"}}Contact{{/link-to}}
      </span>
      <button type="button" name="toggleMenu" class="navbar__menu-button" {{action "toggleMenu"}}>
        <i class="material-icons">close</i>
      </button>
  {{else}}
    <div class="navbar__menu-left-align">
      {{#if authenticated}}
        <button type="button" name="signOut" class="navbar__menu-signout" {{action "signOut"}}>
          <i class="material-icons">exit_to_app</i>
        </button>
      {{/if}}

      <button type="button" name="toggleMenu" class="navbar__menu-button" {{action "toggleMenu"}}><i class="material-icons">menu</i></button>
    </div>
  {{/if}}

</nav>

{{yield}}
