<article class="project-item">
  {{ivy-videojs
    canplay='canplay'
    controls=false
    ended='ended'
    fluid=true
    pause='pause'
    playing='playing'
    src=project.videoLocal}}
  <div class="project-item__info">
    <h2 class="project-item__title">{{#link-to "work.show" project}}{{project.title}}{{/link-to}}</h2>
    <span>{{project.date}}</span>
    <span>Client: {{project.client}}</span>
    <span class="project-item__category {{category}}">{{project.category}}</span>
    <p class="project-item__description">{{project.description}}</p>
  </div>
</article>
