<article class="project-item">
  {{#if canEdit}}
    {{ivy-videojs
      canplay='canplay'
      controls=true
      playsinline=true
      fluid=true
      muted="muted"
      src=project.videoSnippetUrl}}
    <form class="project-item__edit">
      <div class="project-item__field title">
        <label for="project-title">Title</label>
        {{input
          id="project-title"
          type='text' value=project.title
          enter=(action 'editProject' project)
        }}
      </div>
      <div class="project-item__field">
        <label for="project-client">Client</label>
        {{input
          id="project-client"
          type='text' value=project.client
          enter=(action 'editProject' project)
        }}
      </div>
      <div class="project-item__field">
        <label for="project-date">Date</label>
        {{input
          id="project-date"
          type='text' value=project.date
          enter=(action 'editProject' project)
        }}
      </div>
      <div class="project-item__field">
        <label for="project-category">Category</label>
        {{input
          id="project-category"
          type='text' value=project.category
          enter=(action 'editProject' project)
        }}
      </div>
      <div class="project-item__field">
        <label for="project-videoVendorUrl">Vimeo Link</label>
        {{input
          id="project-videoVendorUrl"
          type='url' value=project.videoVendorUrl
          enter=(action 'editProject' project)
        }}
      </div>
      <div class="project-item__field">
        <label for="project-videoSnippetUrl">Video Snippet Filename</label>
        {{input
          id="project-videoSnippetUrl"
          type='url' value=project.videoSnippetUrl
          enter=(action 'editProject' project)
        }}
      </div>
      <div class="project-item__field">
        <label for="project-description">Description</label>
        {{textarea
          id="project-description"
          value=project.description
          enter=(action 'editProject' project)
        }}
      </div>
      <div class="project-item__field featured">
        <label for="project-featured">Featured</label>
        {{input
          id="project-featured"
          type='checkbox' checked=project.featured
          click=(action 'toggleFeatured' value="target.checked")
        }}
      </div>
      <button type="button" name="toggleCreate" {{action "toggleEditProject"}}>
        <i class="fas fa-check"></i>
      </button>
      <button type="button" name="button"
        class="project-item__submit"
        onclick={{action "deleteProject" project.id}}>
        <i class="fas fa-trash-alt"></i>
      </button>
    </form>
  {{else}}
    {{#if videoError}}
      <div class="project-item__video-error"style="background-color: red; height: 500px; width: 100%"/>
    {{else}}
      {{ivy-videojs
        playsinline=true
        canplay='canplay'
        controls=false
        fluid=true
        muted="muted"
        error='error'
        src=project.videoSnippetUrl}}
    {{/if}}
    <div class="project-item__info">
      <div class="project-item__info-container">
        <div>
          {{#link-to "work.show" project}}
            <h2 class="project-item__title"> {{project.title}}</h2>
          {{/link-to}}
          {{#if authed}}
            <button type="button" name="toggleCreate" {{action "toggleEditProject"}}>
              <i class="fas fa-edit"></i>
            </button>
          {{/if}}
        </div>
        <article class="project-item__meta">
          <span>{{project.date}}</span>
          <hr class="project-item__divider" />
          <span>{{project.client}}</span>
        </article>
      </div>
    </div>
  {{/if}}
</article>
