<article class="project-item">
  <a {{action 'toggleImageSize'}} class="image {{if isWide "wide"}}">
    <img src={{project.image}}>
  </a>
  <h3>{{project.title}}</h3>
  <span>{{project.date}}</span> - <span>Client: {{project.client}}</span>
  <p>{{project.description}}</p>
</article>
