<article class="project-item">
  {{ivy-videojs
    canplay='canplay'
    controls=true
    ended='ended'
    fluid=false
    pause='pause'
    playing='playing'
    src=project.videoLocal}}
  <form class="project-item__edit">
    {{input
      class="project-item__title"
      type='text' value=project.title
      enter=(action 'editProject' project)
    }}
    {{input
      class="project-item__client"
      type='text' value=project.client
      enter=(action 'editProject' project)
    }}
    {{input
      class="project-item__date"
      type='text' value=project.date
      enter=(action 'editProject' project)
    }}
    {{input
      class="project-item__category"
      type='text' value=project.category
      enter=(action 'editProject' project)
    }}
    {{textarea
      class="project-item__description"
      value=project.description
      enter=(action 'editProject' project)
    }}
    <button type="submit" name="button"
      class="project-item__submit"
      onclick={{action "deleteProject" project.id}}>Delete</button>
  </form>
</article>
