<article class="project-item">
  <a {{action 'toggleImageSize'}} class="image {{if isWide "wide"}}">
    {{ivy-videojs controls=true fluid=true src="/video/test.mp4"}}
  </a>
  <h3 class="project-item__link">{{#link-to "work.show" project classNames=project.id}}{{project.title}}{{/link-to}}</h3>
  <span>{{project.date}}</span> - <span>Client: {{project.client}}</span>
  <div>
    <span class="project-item__category {{category}}">{{project.category}}</span>
  </div>
  <p>{{project.description}}</p>
</article>
