<article class="project-item">
  {{#if canEdit}}
    {{ivy-videojs
      canplay='canplay'
      controls=true
      fluid=true
      src=project.videoLocal}}
    <form class="project-item__edit">
      <div class="project-item__field title">
        <label for="project-title">Title</label>
        {{input
          id="project-title"
          type='text' value=project.title
          enter=(action 'editProject' project)
        }}
      </div>
      <div class="project-item__field">
        <label for="project-client">Client</label>
        {{input
          id="project-client"
          type='text' value=project.client
          enter=(action 'editProject' project)
        }}
      </div>
      <div class="project-item__field">
        <label for="project-date">Date</label>
        {{input
          id="project-date"
          type='text' value=project.date
          enter=(action 'editProject' project)
        }}
      </div>
      <div class="project-item__field">
        <label for="project-category">Category</label>
        {{input
          id="project-category"
          type='text' value=project.category
          enter=(action 'editProject' project)
        }}
      </div>
      <div class="project-item__field">
        <label for="project-videoVendor">Vimeo Link</label>
        {{input
          id="project-videoVendor"
          type='url' value=project.videoVendor
          enter=(action 'editProject' project)
        }}
      </div>
      <div class="project-item__field">
        <label for="project-videoLocal">Video Snippet Filename</label>
        {{input
          id="project-videoLocal"
          type='url' value=project.videoLocal
          enter=(action 'editProject' project)
        }}
      </div>
      <div class="project-item__field">
        <label for="project-description">Description</label>
        {{textarea
          id="project-description"
          value=project.description
          enter=(action 'editProject' project)
        }}
      </div>
      {{input
        id="project-featured"
        type='checkbox' checked=project.featured
        click=(action 'toggleFeatured' value="target.checked")
      }}
      <button type="button" name="toggleCreate" {{action "toggleEditProject"}}>Done</button>
      <button type="button" name="button"
        class="project-item__submit"
        onclick={{action "deleteProject" project.id}}>Delete</button>
    </form>
  {{else}}
    {{ivy-videojs
      canplay='canplay'
      controls=false
      fluid=true
      src=project.videoLocal}}
    <div class="project-item__info">
      <div class="project-item__info-container">
        {{#link-to "work.show" project}}<h2 class="project-item__title"> {{project.title}}</h2>{{/link-to}}
        <span>{{project.date}}</span>
        <span>Client: {{project.client}}</span>
        <span class="project-item__category {{category}}">{{project.category}}</span>
        <p class="project-item__description">{{project.description}}</p>
        {{#if authed}}
          <button type="button" name="toggleCreate" {{action "toggleEditProject"}}>Edit</button>
        {{/if}}
      </div>
    </div>
  {{/if}}
</article>
