<div class="work">
{{displacement-filter id='work-displacement' speed=500 maxFrequency=0.01}}
<div style="filter: url(#displacementFilter); padding: 20px">
  <div class="work__header-img" />
</div>
{{#if session.isAuthenticated}}
  <div class="work">
    {{#unless isCreatingProject}}
      <button class="create-project__button"
       {{action 'toggleCreateProject'}}>
       <small>Create project</small>
       <i class="fas fa-edit"></i>
      </button>
    {{/unless}}
    {{#if isCreatingProject}}
      <h5 class="create-project__header" onclick={{action "toggleCreateProject"}}>Create project</h5>
      {{project-form closeForm=(action "toggleCreateProject")}}
    {{/if}}
  </div>
{{/if}}
{{#filter-projects filter=(action 'filterByCategory') as |filteredResults|}}
  <ul>
    {{#each filteredResults as |project|}}
      <li class="work__project-item">
        {{project-item
            project=project
            authed=session.isAuthenticated
          }}
      </li>
    {{/each}}
  </ul>
{{/filter-projects}}
</div>

{{outlet}}

{{footer-nav}}
