{{#if session.isAuthenticated}}
  <div class="work">
    <form class="createProject">
      <h2 class="createProject__header">Create new project</h2>
      {{input
        class="createProject__title"
        type='text' value=title placeholder='Title'
      }}
      {{input
        class="createProject__client"
        type='text' value=client placeholder='Client'
      }}
      {{input
        class="createProject__date"
        type='text' value=date placeholder='Date'
      }}
      {{input
        class="createProject__category"
        type='text' value=category placeholder='Category'
      }}
      {{input
        class="createProject__file"
        type='text' value=videoLocal placeholder='Video File'
      }}
      {{input
        class="createProject__link"
        type='text' value=videoVendor placeholder='Vimeo Link'
      }}
      <div class="createProject__featured">
        <label for="featured">Featured Project</label>
        {{input
          id="featured"
          type='checkbox' checked=featured
        }}
      </div>
      {{textarea
        class="createProject__description"
        value=description  placeholder='Description'
      }}
      <button
      class="createProject__submit"
      type="submit"
      {{action "createProject" title client date category videoLocal videoVendor description featured}}
      >Create</button>
    </form>
  </div>
{{/if}}
{{#filter-projects filter=(action 'filterByCategory') as |filteredResults|}}
  <ul>
    {{#each filteredResults as |project|}}
      <li>
        {{#if session.isAuthenticated}}
          {{project-item-auth project=project}}
        {{else}}
          {{project-item project=project}}
        {{/if}}
      </li>
    {{/each}}
  </ul>
{{/filter-projects}}

{{outlet}}
