<div class="work__header-img" />
{{#if session.isAuthenticated}}
  <div class="work">
    {{#unless isCreatingProject}}
      <button class="create-project__button"
       {{action 'toggleCreateProject'}}>
        Create new project
        <i class="fas fa-edit"></i>
      </button>
    {{/unless}}
    {{#if isCreatingProject}}
      <h3 class="create-project__header" onclick={{action "toggleCreateProject"}}>Create new project</h3>
      <form class="create-project" action="formTest">
        {{input
          class="create-project__title"
          type='text' value=title placeholder='Title'
        }}
        {{input
          class="create-project__client"
          type='text' value=client placeholder='Client'
        }}
        {{input
          class="create-project__date"
          type='text' value=date placeholder='Date'
        }}
        {{input
          class="create-project__category"
          type='text' value=category placeholder='Category'
        }}
        <input
          onchange={{action "uploadVideo"}}
          accept="video"
          type="file"
        />
        {{#if videoUploadStatus}}
          <p class="create-project__upload-status {{videoUploadStatus}}">Video upload {{videoUploadStatus}}</p>
        {{/if}}
        {{input
          class="create-project__link"
          type='text' value=videoVendor placeholder='Vimeo Link'
        }}
        <div class="create-project__featured">
          <label for="featured">Featured Project</label>
          {{input
            id="featured"
            type='checkbox' checked=featured
          }}
        </div>
        {{textarea
          class="create-project__description"
          value=description  placeholder='Description'
        }}
        <button
        class="create-project__submit {{unless isAbleToCreateProject 'disabled'}}"
        type="submit"
        {{action "createProject" title client date category videoVendor description featured}}
        >
          <i class="fas fa-check"></i>
        </button>
        <button type="button" name="toggleCreate" {{action "toggleCreateProject"}}>
          <i class="fas fa-times"></i>
        </button>
      </form>
    {{/if}}
  </div>
{{/if}}
{{#filter-projects filter=(action 'filterByCategory') as |filteredResults|}}
  <ul>
    {{#each filteredResults as |project|}}
      <li class="work__project-item">
        {{project-item
            project=project
            authed=session.isAuthenticated
          }}
      </li>
    {{/each}}
  </ul>
{{/filter-projects}}

{{outlet}}

{{footer-nav}}
