{{#if session.isAuthenticated}}
  <div class="work">
    <h3 class="create-project__header">Create new project</h3>
    {{#if isCreatingProject}}
      <form class="create-project">
        {{input
          class="create-project__title"
          type='text' value=title placeholder='Title'
        }}
        {{input
          class="create-project__client"
          type='text' value=client placeholder='Client'
        }}
        {{input
          class="create-project__date"
          type='text' value=date placeholder='Date'
        }}
        {{input
          class="create-project__category"
          type='text' value=category placeholder='Category'
        }}
        {{input
          class="create-project__file"
          type='text' value=videoLocal placeholder='Video File'
        }}
        {{input
          class="create-project__link"
          type='text' value=videoVendor placeholder='Vimeo Link'
        }}
        <div class="create-project__featured">
          <label for="featured">Featured Project</label>
          {{input
            id="featured"
            type='checkbox' checked=featured
          }}
        </div>
        {{textarea
          class="create-project__description"
          value=description  placeholder='Description'
        }}
        <button
        class="create-project__submit"
        type="submit"
        {{action "create-project" title client date category videoLocal videoVendor description featured}}
        >Create</button>
        <button type="button" name="toggleCreate" {{action "toggleCreateProject"}}>Done</button>
      </form>
    {{else}}
      <button type="button" name="toggleCreate" {{action "toggleCreateProject"}}>Edit</button>
    {{/if}}
  </div>
{{/if}}
{{#filter-projects filter=(action 'filterByCategory') as |filteredResults|}}
  <ul>
    {{#each filteredResults as |project|}}
      <li>
        {{project-item
            project=project
            authed=session.isAuthenticated
          }}
      </li>
    {{/each}}
  </ul>
{{/filter-projects}}

{{outlet}}
