<div>
  {{video-vendor-player url="https://vimeo.com/255323328"}}
  <h1>{{model.title}}</h1>
  <span>{{model.date}}</span> - <span>Client: {{model.client}}</span>
  <span class="project-item__category {{category}}">{{model.category}}</span>
  <p>{{model.description}}</p>
</div>

{{outlet}}
