<div class="about">
  <div class="about__container">
    <div class="about__header-skeleton" />
    <div class="about__header-img" />
    <blockquote class="about__header-overview">
      Runaway was started with the desire to help people.
      We want to work together with you as experts in our field to help you transform and improve your business through our media content.
      Whether is be for social media, television or film we have all the skills we need to deliver the result you want.</blockquote>
    <h3 class="about__title">Get in touch</h3>
    <p class="about__intro">For a quote or a chat, flick us a message and we'll get right back to you</p>
    {{#if responseMessage}}
      <div>{{responseMessage}}</div>
    {{/if}}
    <form class="about__form">
      {{input id="name-input" class="about__input" value=fullName type="email" placeholder="Your name"}}
      {{input id="email-input" class="about__input" value=emailAddress type="email" placeholder="Your email"}}
      {{textarea name="message-input" value=message
        class="about__message-field" placeholder="Your message"
      }}
      <button type="submit" name="submit" disabled={{submitDisabled}}
      class="about__send-button" {{action 'createMessage' fullName emailAddress message}}>
        <i class="fas fa-envelope"></i>
      </button>
      <div class="about__reponse">
        {{#if messageResponse}}
          <p>{{messageResponse}}</p>
        {{/if}}
      </div>
    </form>
  </div>

  {{#if session.isAuthenticated}}
    <div class="about__messages">
      {{#each messages as | message |}}
        <div class="about__message">
          <div class="about__message-body">
            <h3>{{message.name}}</h3>
            <span>{{moment-format message.date 'h:mm a DD/MM/YYYY' }}</span><span>{{message.email}}</span>
            <p>{{message.message}}</p>
          </div>
          <button type="button" name="delete" class="about__delete-button" {{action 'deleteMessage' message.id}}>
            <i class="fas fa-trash-alt"></i>
          </button>
        </div>
      {{/each}}
    </div>
  {{/if}}

</div>

{{outlet}}

{{footer-nav}}
