<div class="contact">
  <div class="contact__container">
    <div class="contact__header-img" />
    <h2 class="contact__title">Get in touch</h2>
    <p class="contact__intro">For a quote or a chat, flick us a message and we'll get right back to you</p>
    {{#if responseMessage}}
      <div>{{responseMessage}}</div>
    {{/if}}
    <form class="contact__form">
      {{input id="name-input" class="contact__input" value=fullName type="email" placeholder="Your name"}}
      {{input id="email-input" class="contact__input" value=emailAddress type="email" placeholder="Your email"}}
      {{textarea name="message-input" value=message
        class="contact__message-field" placeholder="Your message"
      }}
      <button type="submit" name="submit" disabled={{submitDisabled}}
      class="contact__send-button" {{action 'createMessage' fullName emailAddress message}}>
        <i class="material-icons">mail</i>
      </button>
      <div class="contact__reponse">
        {{#if messageResponse}}
          <p>{{messageResponse}}</p>
        {{/if}}
      </div>
    </form>
  </div>

  {{#if session.isAuthenticated}}
    <div class="contact__messages">
      {{#each messages as | message |}}
        <div class="contact__message">
          <div class="contact__message-body">
            <h3>{{message.name}}</h3>
            <span>{{moment-format message.date 'h:mm a DD/MM/YYYY' }}</span><span>{{message.email}}</span>
            <p>{{message.message}}</p>
          </div>
          <button type="button" name="delete" class="contact__delete-button" {{action 'deleteMessage' message.id}}>
            <i class="material-icons">delete</i>
          </button>
        </div>
      {{/each}}
    </div>
  {{/if}}

</div>

{{outlet}}
