<div class="contact">
  <div class="contact__container">
    <h2 class="contact__title">Contact Runaway</h2>
    <p>For a quote or a chat, flick us a message and we'll get right back to you</p>
    {{#if responseMessage}}
      <div>{{responseMessage}}</div>
    {{/if}}
    <form class="contact__form">
      <div class="contact__input">
        <label for="name-input">Name</label>
        {{input id="name-input" value=fullName type="email" placeholder="Please enter your name"}}
      </div>
      <div class="contact__input">
        <label for="email-input">Email</label>
        {{input id="email-input" value=emailAddress type="email" placeholder="Please enter your email"}}
      </div>
      <div class="contact__message">
        <label for="message-input">Message</label>
        {{textarea name="message-input" value=message
          class="contact__message-field"
        }}
      </div>
      <button type="submit" name="submit" disabled={{submitDisabled}} {{action 'createMessage' fullName emailAddress message}}>
        <i class="material-icons">send</i>
      </button>
      <div class="contact__reponse">
        {{#if messageResponse}}
          <p>{{messageResponse}}</p>
        {{/if}}
      </div>
    </form>
  </div>

  {{#if session.isAuthenticated}}
    <div class="contact__messages">
      {{#each messages as | message |}}
        <div>
          <h3>{{message.name}}</h3>

          <span>{{moment-format message.date 'h:mm a DD/MM/YYYY' }}</span><span>{{message.email}}</span>
          <p>{{message.message}}</p>
        </div>
        <button type="button" name="delete" {{action 'deleteMessage' message.id}}>Delete</button>
      {{/each}}
    </div>
  {{/if}}

</div>

{{outlet}}
