<div class="landing">
  {{#if videoIsPlaying}}
    {{#link-to 'work.show' currentProject.id
      class="landing__info"
    }}
      <h1 class="landing__title">{{currentProject.title}}</h1>
    {{/link-to}}
    {{three-player
      currentId=currentVideo.id
      videos=loadedVideos
      transitionToProject=transitionToProject
      context=context
    }}
  {{/if}}
  {{#each projects as |project|}}
    {{ivy-videojs
      id=project.id
      class="landing__video-src"
      ready=(action 'videoReady')
      controls=true
      loop=true
      muted="muted"
      src=project.videoSnippetUrl}}
  {{/each}}
  {{#link-to "work" class="landing__skeleton-icon"}}{{/link-to}}

  <button class="landing__prev-project" type="button" name="toggleCreate" {{action "previousProject"}}>
    <i class="fas fa-angle-left"></i>
  </button>
  <button class="landing__next-project" type="button" name="nextProject" {{action "nextProject"}}>
    <i class="fas fa-angle-right"></i>
  </button>
</div>

{{outlet}}
