<div class="">
  <h2>Runaway</h2>
  <p>{{currentProject.title}}</p>
  {{!-- {{three-player}} --}}
  {{#each model as |projectUnit|}}
    {{!-- {{#if projectUnit.featured}} --}}
    {{!-- {{log projectUnit.id}} --}}
    {{ivy-videojs
      id=projectUnit.id
      canplay=(action 'videoReady')
      controls=false
      fluid=true
      src=projectUnit.videoLocal}}
    {{!-- {{/if}} --}}
  {{/each}}
</div>

{{outlet}}
