<div class="">
  <h2>Runaway</h2>
  <p>{{currentProject.title}}</p>
  {{#if allVideosLoaded}}
    {{three-player
      src=currentVideo.video
      videos=loadedVideos
    }}
  {{/if}}
  {{#each model as |projectUnit|}}
    {{!-- {{#if projectUnit.featured}} --}}
    {{!-- {{log projectUnit.id}} --}}
    {{ivy-videojs
      id=projectUnit.id
      canplay=(action 'videoReady')
      controls=false
      src=projectUnit.videoLocal}}
    {{!-- {{/if}} --}}
  {{/each}}
</div>

{{outlet}}
